* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: white;
    transform: scale(1);
    filter: contrast(1);
    transition: 0.5s;
}

body.is-high-contrast{
    filter: contrast(2);
}

.loginScreen {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;

    background-image: url(img/cosmicBG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCard {
    width: 800px;
    height: 300px;
    background-color: rgb(34, 34, 37);
    border-radius: 15px;
    display: flex;
    padding: 30px;
    gap: 50px;
}

.swipeDown{
    animation: swipeDown;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: forwards;
    position: static;
}

@keyframes swipeDown {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-0px, 70vh);
    }
    
}

.splitdiv {
    width: 50%;
    /* outline: green dotted 2px; */
}

.dateShow {
    font-size: 30px;
    color: rgb(76, 204, 255);
    font-weight: 500;
}

.timeShow {
    font-size: 80px;
    color: rgb(76, 204, 255);
    font-weight: 500;
}

.line {
    background-color: rgba(255, 255, 255, 0.103);
    height: 2px;
    border-radius: 10px;
    width: 100%;

}

.flex {
    display: flex;
    align-items: center;
}

.loginIcon {
    height: 30px;
}

.batteryPercentage {
    margin-left: 5px;
    color: rgb(76, 204, 255);
    transform: translateY(-1px);
}

.wifi {
    margin-left: 10px;
    height: 50px;
    transform: translateY(-11px);
}

.bottomItem {
    border-radius: 1000px;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.103);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-right: 10px;
    transition: 0.4s ease;
}

.bottomItem:hover {
    background-color: rgba(255, 255, 255, 0.233);
}

.longer {
    width: 65px;
}

.icons {
    height: 20px;
}

.longer {}

.mtop {
    margin-top: 10px;
}

/* SPLITDIV RIGHT NOW */

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profilePictureHolder {
    width: 100px;
    height: 100px;
    border: solid 1.5px rgb(76, 204, 255);
    border-radius: 1000px;
    padding: 2px;
}

.profilePicture {
    background-image: url(img/profile.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 1000px;
}

.username {
    font-size: 25px;
    font-weight: 600;
    margin: 5px;
}

.passwordInput {
    width: 240px;
    height: 40px;
    background-color: inherit;
    border: solid 1px rgb(76, 204, 255);
    outline: 0px solid rgb(76, 204, 255);
    border-radius: 15px;
    color: white;
    text-align: center;
    background-image: url(icons/lock.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 10px, 10px;
}

.passwordInput:focus {
    outline: none;
}

.flexrow {
    display: flex;
    flex-direction: row;
    transform: translateX(30px);
}

.mleft {
    margin-left: 10px;
}

.poweredOff {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: black;
    z-index: 100;
    display: none;
}

.relative {
    position: relative;
}

.selectBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    background-color: rgb(34, 34, 37);
}
























.desktop {
    display: none;
    width: 100%;
    height: 100vh;
    background-image: url(img/cosmicBG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navBar {
    height: 30px;
    width: 100%;
    background-color: rgb(34, 34, 37);
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.vDesktopNumselectec{
 background-color: rgb(95, 174, 206);
 color: rgb(34, 34, 37);
 padding: 5px;
 width: 40px;
 margin-left: 5px;
 text-align: center;
 border-radius: 20px;
 font-weight: 700;
 font-size: 15px;
}

.vDesktopNum{
 color: rgb(255, 255, 255);
 padding: 5px;
 width: 40px;
 margin-left: 5px;
 text-align: center;
 border-radius: 20px;
 font-weight: 700;
 font-size: 15px;
}

.center{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.taskBar{
    height: 80px;
    width: 500px;
    background-color: rgb(34, 34, 37);
    border-radius: 1000px;
    margin-bottom: 5px;
}